@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,800;1,9..40,400;1,9..40,600;1,9..40,800&display=swap");

:root {
   --background-color: #2c0e47;
   --main-color: #3f007a;
   --second-color: #9f5ae0;
   --highlight: #ce99ff;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "DM Sans", sans-serif;
   scroll-behavior: smooth;
   /* outline: 1px solid brown; */
   scroll-padding-top: var(--scroll-padding, 60px);
}

.hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
}

.show {
   filter: blur(0);
   transform: translateX(0);
   opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
   .hidden {
      transition: all 1s;
   }
}

nav {
   width: 100dvw;
   background-color: white;
   border-bottom: 0.125rem solid var(--main-color);
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
}

.navbar-wrapper {
   width: 100%;
   height: 60px;
   padding-inline: 1rem;
   background-color: white;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   text-decoration: none;
   color: var(--main-color);
   cursor: pointer;
}

#navbar i {
   display: block;
   color: var(--main-color);
   font-size: 1.25rem;
   cursor: pointer;
}

.buttons {
   width: inherit;
   height: 45px;
   padding-inline: 1.5rem;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   background-color: var(--main-color);
   align-items: center;
   justify-content: space-evenly;
   transition: all 0.25s;
   z-index: -1;
}

.active {
   top: 100%;
}

.buttons a {
   color: white;
   font-weight: 600;
   text-decoration: none;
   transition: all 0.25s;
}

.button-focus {
   transform: scale(1.07, 1.07);
}

.button-outFocus {
   opacity: 0.25;
}

main {
   display: grid;
   gap: 6rem;
}

.bg-image {
   position: relative;
}

.bg-image::after {
   content: "";
   position: absolute;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: var(--background-color);
   background-blend-mode: luminosity;
   background-image: url(stars3.jpg);
   inset: 0;
   z-index: -1;
}

#home {
   min-height: 100dvh;
   width: 100dvw;
   padding-inline: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home-wrapper {
   color: white;
   display: flex;
   flex-flow: column;
   gap: 0.5rem;
   font-weight: 600;
}

.home-wrapper p {
   font-size: 1.125rem;
   line-height: 1.6;
}

.home-wrapper h1 {
   font-size: 4rem;
   color: var(--highlight);
}

.learnMore-wrapper {
   align-self: center;
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   background-color: var(--highlight);
}

.learnMore-wrapper a {
   width: fit-content;
   text-decoration: none;
   font-size: 1.25rem;
   color: white;
   background-color: var(--second-color);
   border-radius: inherit;
   padding: 0.5rem 1rem;
   transform: translateY(0);
   transition: all 0.125s;
}

.learnMore-wrapper a:hover {
   transform: translateY(-13%);
}

.learnMore-wrapper a:active {
   transform: translateY(0);
}

#projects {
   width: 100dvw;
   padding-top: 2rem;
   padding-inline: 1rem;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.project-wrapper {
   max-width: 980px;
   display: flex;
   flex-flow: column;
   gap: 2rem;
}

.project-header h1 {
   font-size: 3rem;
   color: var(--main-color);
}

.card-wrapper {
   display: flex;
   flex-flow: column;
   gap: 4rem;
}

.card-container {
   background-color: var(--main-color);
   border-radius: 10px;
}

.project-card {
   display: grid;
   grid-template-columns: auto;
   border-radius: inherit;
   border: 0.25px solid var(--main-color);
   transition: all 0.25s;
   background-color: white;
}

.project-card:hover {
   transform: translateY(-2%);
}

.card-content {
   padding: 1rem;
   display: flex;
   flex-flow: column;
   gap: 2rem;
}

.card-content header {
   display: flex;
   flex-flow: column;
   gap: 0.25rem;
}

.card-content h1 {
   font-size: 1.75rem;
   color: var(--background-color);
}

.card-content h3 {
   color: gray;
}

.card-content p {
   line-height: 1.6;
}

.card-content a {
   width: fit-content;
   text-decoration: none;
   font-weight: 600;
   color: var(--main-color);
   position: relative;
   transition: all 0.25s;
}

.card-content a:hover {
   width: fit-content;
   text-decoration: none;
   color: var(--second-color);
}

.card-content a::after {
   content: "";
   width: 100%;
   height: 3px;
   background-color: var(--main-color);
   position: absolute;
   top: 100%;
   left: 0;
   transition: all 0.25s;
   opacity: 0;
   z-index: 1;
   transform: translateX(-50%);
}

.card-content a:hover::after {
   transform: translateX(0);
   opacity: 1;
   background-color: var(--highlight);
}

.card-image {
   order: -1;
}

.card-image img {
   border-radius: 10px 10px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

footer {
   width: 100dvw;
   min-height: 50dvh;
   padding-top: 2rem;
   padding-inline: 1rem;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.footer-wrapper {
   max-width: 980px;
   display: flex;
   flex-flow: column;
   gap: 1rem;
}

.contact-header h1 {
   font-size: 3rem;
   color: var(--main-color);
}

.social-media-wrapper {
   display: flex;
   gap: 3rem;
}

.social-media-link {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}

.social-media-link i {
   color: var(--main-color);
   font-size: 2rem;
   transition: all 0.25s;
}

.social-media-link i:hover {
   color: var(--second-color);
   transform: scale(1.1, 1.1);
}

.footer-wrapper p {
   line-height: 1.6;
}

.footer-wrapper p span {
   color: var(--main-color);
   font-weight: 600;
}

@media screen and (min-width: 640px) {
   nav {
      padding-inline: 2.5rem;
   }

   .navbar-wrapper {
      background-color: transparent;
      padding-inline: 0;
   }

   #navbar i {
      display: none;
   }

   .buttons {
      display: flex;
      width: fit-content;
      height: fit-content;
      padding-inline: 0;
      position: static;
      background-color: transparent;
      gap: 2rem;
      z-index: auto;
   }

   .buttons a {
      color: var(--main-color);
   }

   #home {
      padding-inline: 2.5rem;
   }

   .home-wrapper p {
      font-size: 1.3rem;
   }

   .home-wrapper h1 {
      font-size: 5rem;
   }

   #projects {
      padding-inline: 2.5rem;
   }

   .project-card {
      grid-template-columns: auto 45%;
   }

   .card-image {
      order: 1;
   }

   .card-image img {
      border-radius: 0 10px 10px 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }

   footer {
      padding-inline: 2.5rem;
   }
}

@media screen and (min-width: 1024px) {
   .home-wrapper {
      width: 80%;
   }

   .project-wrapper {
      width: 80%;
   }

   .footer-wrapper {
      width: 80%;
   }
}

@media screen and (min-width: 1280px) {
   nav {
      padding-inline: 6rem;
   }

   #home {
      padding-inline: 6rem;
   }

   #projects {
      padding-inline: 6rem;
   }

   footer {
      padding-inline: 6rem;
   }
}
