@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,800;1,9..40,400;1,9..40,600;1,9..40,800&display=swap');

:root {
   --background-color: #2C0E47;
   --main-color: #3F007A;
   --second-color: #9F5AE0;
   --highlight: #CE99FF;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'DM Sans', sans-serif;
   scroll-behavior: smooth;
   /* outline: 1px solid brown; */
   scroll-padding-top: var(--scroll-padding, 60px);
}

.hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
}

.show {
   filter: blur(0);
   transform: translateX(0);
   opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
   .hidden {
      transition: all 1s;
   }
}

nav {
   width: 100dvw;
   height: 60px;
   padding-inline: 100px;
   background-color: white;
   border-bottom: 1.5px solid var(--background-color);
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}

.navbar-wrapper {
   width: 100%;
   max-width: 980px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo h1 {
   color: var(--main-color);
   cursor: default;
}

#navbar i {
   display: none;
}

.buttons {
   display: flex;
   gap: 5rem;
}

.buttons a {
   color: var(--main-color);
   font-weight: 600;
   text-decoration: none;
   transition: all .25s;
}

.button-focus {
   transform: scale(1.25, 1.25);
   font-weight: 700;
}

.button-outFocus {
   opacity: 0.25;
}

main {
   display: grid;
   gap: 6rem;
}

#home {
   min-height: 100dvh;
   padding-inline: 100px;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.home-wrapper {
   max-width: 980px;
   text-align: center;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.home-wrapper h1 {
   font-size: 6rem;
   color: var(--highlight);
}

.home-wrapper p {
   font-size: 1.25rem;
   font-weight: 600;
   line-height: 1.6;
   color: white;
}

.learnMore-wrapper {
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   background-color: var(--highlight);
}

.learnMore-wrapper a {
   width: fit-content;
   text-decoration: none;
   font-size: 1.25rem;
   font-weight: 600;
   color: white;
   background-color: var(--second-color);
   border-radius: inherit;
   padding: 0.5rem 1rem;
   transform: translateY(0);
   transition: all .25s;
}

.learnMore-wrapper a:hover {
   transform: translateY(-13%);
}

.learnMore-wrapper a:active {
   transform: translateY(0);
}

.bg-image {
   position: relative;
}

.bg-image::after {
   content: "";
   position: absolute;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: var(--background-color);
   background-blend-mode: luminosity;
   background-image: url(stars3.jpg);
   inset: 0;
   z-index: -1;
}

#projects {
   min-width: 100dvw;
   padding-top: 2rem;
   padding-inline: 100px;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.project-wrapper {
   width: 100%;
   max-width: 980px;
   display: flex;
   flex-flow: column;
   gap: 2rem;
}

.project-header h1 {
   font-size: 4rem;
   color: var(--main-color);
}

.card-wrapper {
   display: flex;
   flex-flow: column;
   gap: 3rem;
}

.card-container {
   background-color: var(--main-color);
   border-radius: 10px;
}

.project-card {
   display: grid;
   grid-template-columns: auto 45%;
   border-radius: inherit;
   border: 1px solid var(--main-color);
   transition: all .25s;
   background-color: white;
}

.project-card:hover {
   transform: translateY(-3%);
}

.card-content {
   padding: 30px;
   display: flex;
   flex-flow: column;
   gap: 1rem;
}

.card-content h1 {
   font-size: 2rem;
}

.card-content a {
   width: fit-content;
   text-decoration: none;
   font-weight: 800;
   color: var(--main-color);
   position: relative;
   transition: all .25s;
}

.card-content a:hover {
   width: fit-content;
   text-decoration: none;
   font-weight: 800;
   color: var(--second-color);
}

.card-content a::after {
   content: "";
   width: 100%;
   height: 3px;
   background-color: var(--main-color);
   position: absolute;
   top: 100%;
   left: 0;
   transition: all .25s;
   opacity: 0;
   z-index: 1;
   transform: translateX(-50%);
}

.card-content a:hover::after {
   transform: translateX(0);
   opacity: 1;
   background-color: var(--highlight);
}

.card-image img {
   border-radius: 0 10px 10px 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

footer {
   min-height: 50dvh;
   padding-top: 2rem;
   padding-inline: 100px;
   display: flex;
   justify-content: center;
}

.footer-wrapper {
   width: 100%;
   max-width: 980px;
   display: flex;
   flex-flow: column;
   gap: 1rem;
}

.contact-header h1 {
   font-size: 4rem;
   color: var(--main-color);
}

.social-media-wrapper {
   display: flex;
   gap: 3rem;
}

.social-media-link {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}

.social-media-link i {
   color: var(--main-color);
   font-size: 2rem;
   transition: all .25s;
}

.social-media-link i:hover {
   color: var(--second-color);
   transform: scale(1.25, 1.25);
}

.footer-wrapper p {
   font-size: 1.25rem;
}

.footer-wrapper p span {
   color: var(--main-color);
   font-weight: 600;
}

@media screen and (max-width: 980px) {
   nav {
      padding-inline: 75px;
   }

   #home {
      padding-inline: 75px;
   }

   #projects {
      padding-inline: 75px;
   }

   footer {
      padding-inline: 75px;

   }
}

@media screen and (max-width: 540px) {
   nav {
      padding-inline: 30px;
   }

   .navbar-wrapper {
      height: inherit;
      padding: inherit;
      position: absolute;
      background-color: white;
   }

   .logo h1 {
      font-size: 1.25rem;
   }

   #navbar i {
      display: block;
      color: var(--main-color);
      font-size: 1.25rem;
      cursor: pointer;
   }

   .menu-background {
      width: 100%;
      height: 100%;
   }

   .buttons {
      gap: 0;
      width: 100dvw;
      height: 45px;
      padding-inline: inherit;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--second-color);
      transform: translateY(-100%);
      align-items: center;
      justify-content: space-between;
      transition: all .25s;
      z-index: -1;
   }

   .active {
      display: flex;
      transform: translateY(0);
   }


   .buttons a {
      color: white;
   }

   #home {
      padding-inline: 30px;
   }

   #home h1 {
      font-size: 4rem;
   }

   .home-wrapper p {
      font-size: 1rem;
   }

   #projects {
      padding-inline: 30px;
   }

   .project-header h1 {
      font-size: 3rem;
   }

   .project-card {
      grid-template-columns: auto;
   }

   .card-image {
      order: -1;
   }

   .card-image img {
      border-radius: 10px 10px 0 0;
   }

   footer {
      padding-inline: 30px;
   }

   .contact-header h1 {
      font-size: 3rem;
   }
}